.pokemonCard {
	text-align: center;
	padding: 4px;
	width: 100%;
	border-radius: 8px;
	position: relative;
	cursor: pointer;
	&__heading {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 150px;
		h2,
		p {
			font-family: 'Pocket Monk', sans-serif;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 3.2rem;
		}
		h2 {
			color: var(--background-dark);
		}
		p {
			border-radius: 20px;
			padding: 0 10px;
			background-color: var(--background-dark);
		}
	}

	&__img {
		position: absolute;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 200px;
			height: 200px;
		}
	}
	&__info {
		border-radius: 8px;
		background-color: var(--background-dark);
		padding: 20px;
		padding-top: 56px;
		&-title {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 16px;
			margin: 16px 0;
		}
	}
	&__types {
		display: flex;
		column-gap: 16px;
		justify-content: center;
		p {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.6rem;
			text-transform: capitalize;

			border-radius: 10px;
			padding: 2px 8px;
		}
	}
	&__stats {
		display: flex;
		justify-content: space-around;
		&-txt {
			font-size: 10px;
			font-weight: 700;
			line-height: 16px;
			text-transform: uppercase;
		}
	}
}

isLoading {
	background-color: #404040;
}
